Problem 1

In [3]:
#a
import numpy as np
import pandas as pd

data = pd.read_csv("Auto.csv", na_values="?")
data.dropna(inplace=True)

In [6]:
data["mpg_high"] = np.where(data["mpg"] > data["mpg"].median(), 1, 0)
data["orgn1"] = data["origin"] == 1
data["orgn2"] = data["origin"] == 2
data.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name,mpg_high,orgn1,orgn2
0,18.0,8,307.0,130.0,3504,12.0,70,1,chevrolet chevelle malibu,0,True,False
1,15.0,8,350.0,165.0,3693,11.5,70,1,buick skylark 320,0,True,False
2,18.0,8,318.0,150.0,3436,11.0,70,1,plymouth satellite,0,True,False
3,16.0,8,304.0,150.0,3433,12.0,70,1,amc rebel sst,0,True,False
4,17.0,8,302.0,140.0,3449,10.5,70,1,ford torino,0,True,False

In [8]:
data['orgn1'] = data['orgn1'].astype('int32')
data['orgn2'] = data['orgn2'].astype('int32')
data.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name,mpg_high,orgn1,orgn2
0,18.0,8,307.0,130.0,3504,12.0,70,1,chevrolet chevelle malibu,0,1,0
1,15.0,8,350.0,165.0,3693,11.5,70,1,buick skylark 320,0,1,0
2,18.0,8,318.0,150.0,3436,11.0,70,1,plymouth satellite,0,1,0
3,16.0,8,304.0,150.0,3433,12.0,70,1,amc rebel sst,0,1,0
4,17.0,8,302.0,140.0,3449,10.5,70,1,ford torino,0,1,0

In [9]:
X = data[["cylinders", "displacement", "horsepower", "weight", "acceleration", "year", "orgn1", "orgn2"]]
y = data["mpg_high"]

In [13]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
import timeit

seeds = np.random.choice(1000, 100, replace=False)
mse_list = []

start_time = timeit.default_timer()
for i in range(100):
    X_train, X_test, y_train, y_test = train_test_split(X, y, train_size = 0.65, random_state = seeds[i])
    logreg = LogisticRegression(solver="lbfgs", max_iter = 2000, n_jobs = None)
    results = logreg.fit(X_train, y_train)
    y_pred = results.predict(X_test)
    mse = ((y_test - y_pred) ** 2).mean()
    print("The bootstrap {}'s error rate is {:.3f}% when seed = {}.".format(i + 1, 100 * mse, seeds[i]))
    mse_list.append(mse)
    
avg_mse = np.array(mse_list).mean()
end_time = timeit.default_timer()

print("Average Error Rate =", avg_mse)
print("The computation time is about {} seconds.".format(end_time - start_time))

The bootstrap 1's error rate is 7.246% when seed = 798.
The bootstrap 2's error rate is 10.870% when seed = 344.
The bootstrap 3's error rate is 9.420% when seed = 739.
The bootstrap 4's error rate is 8.696% when seed = 271.
The bootstrap 5's error rate is 11.594% when seed = 847.
The bootstrap 6's error rate is 7.971% when seed = 292.
The bootstrap 7's error rate is 8.696% when seed = 812.
The bootstrap 8's error rate is 7.246% when seed = 512.
The bootstrap 9's error rate is 9.420% when seed = 272.
The bootstrap 10's error rate is 5.797% when seed = 939.
The bootstrap 11's error rate is 8.696% when seed = 243.
The bootstrap 12's error rate is 10.145% when seed = 475.
The bootstrap 13's error rate is 9.420% when seed = 569.
The bootstrap 14's error rate is 13.768% when seed = 661.
The bootstrap 15's error rate is 10.870% when seed = 126.
The bootstrap 16's error rate is 7.246% when seed = 831.
The bootstrap 17's error rate is 12.319% when seed = 904.
The bootstrap 18's error rate is 10.145% when seed = 284.
The bootstrap 19's error rate is 12.319% when seed = 746.
The bootstrap 20's error rate is 10.870% when seed = 138.
The bootstrap 21's error rate is 8.696% when seed = 401.
The bootstrap 22's error rate is 7.246% when seed = 535.
The bootstrap 23's error rate is 10.870% when seed = 474.
The bootstrap 24's error rate is 10.145% when seed = 227.
The bootstrap 25's error rate is 10.145% when seed = 636.
The bootstrap 26's error rate is 7.246% when seed = 860.
The bootstrap 27's error rate is 10.870% when seed = 395.
The bootstrap 28's error rate is 10.870% when seed = 848.
The bootstrap 29's error rate is 9.420% when seed = 980.
The bootstrap 30's error rate is 11.594% when seed = 666.
The bootstrap 31's error rate is 5.797% when seed = 644.
The bootstrap 32's error rate is 6.522% when seed = 43.
The bootstrap 33's error rate is 12.319% when seed = 285.
The bootstrap 34's error rate is 11.594% when seed = 413.
The bootstrap 35's error rate is 9.420% when seed = 929.
The bootstrap 36's error rate is 9.420% when seed = 70.
The bootstrap 37's error rate is 10.145% when seed = 945.
The bootstrap 38's error rate is 9.420% when seed = 479.
The bootstrap 39's error rate is 8.696% when seed = 254.
The bootstrap 40's error rate is 10.870% when seed = 421.
The bootstrap 41's error rate is 10.145% when seed = 210.
The bootstrap 42's error rate is 9.420% when seed = 501.
The bootstrap 43's error rate is 3.623% when seed = 935.
The bootstrap 44's error rate is 13.043% when seed = 784.
The bootstrap 45's error rate is 9.420% when seed = 441.
The bootstrap 46's error rate is 12.319% when seed = 745.
The bootstrap 47's error rate is 7.971% when seed = 842.
The bootstrap 48's error rate is 10.870% when seed = 917.
The bootstrap 49's error rate is 10.145% when seed = 104.
The bootstrap 50's error rate is 10.870% when seed = 209.
The bootstrap 51's error rate is 10.145% when seed = 938.
The bootstrap 52's error rate is 6.522% when seed = 154.
The bootstrap 53's error rate is 12.319% when seed = 497.
The bootstrap 54's error rate is 10.145% when seed = 989.
The bootstrap 55's error rate is 12.319% when seed = 775.
The bootstrap 56's error rate is 10.870% when seed = 77.
The bootstrap 57's error rate is 10.870% when seed = 131.
The bootstrap 58's error rate is 10.145% when seed = 92.
The bootstrap 59's error rate is 8.696% when seed = 305.
The bootstrap 60's error rate is 10.145% when seed = 533.
The bootstrap 61's error rate is 9.420% when seed = 837.
The bootstrap 62's error rate is 10.870% when seed = 222.
The bootstrap 63's error rate is 13.043% when seed = 263.
The bootstrap 64's error rate is 12.319% when seed = 2.
The bootstrap 65's error rate is 12.319% when seed = 568.
The bootstrap 66's error rate is 11.594% when seed = 964.
The bootstrap 67's error rate is 8.696% when seed = 543.
The bootstrap 68's error rate is 13.043% when seed = 790.
The bootstrap 69's error rate is 12.319% when seed = 141.
The bootstrap 70's error rate is 8.696% when seed = 108.
The bootstrap 71's error rate is 12.319% when seed = 7.
The bootstrap 72's error rate is 8.696% when seed = 71.
The bootstrap 73's error rate is 10.145% when seed = 518.
The bootstrap 74's error rate is 7.971% when seed = 986.
The bootstrap 75's error rate is 11.594% when seed = 33.
The bootstrap 76's error rate is 9.420% when seed = 858.
The bootstrap 77's error rate is 10.870% when seed = 460.
The bootstrap 78's error rate is 9.420% when seed = 107.
The bootstrap 79's error rate is 7.971% when seed = 547.
The bootstrap 80's error rate is 10.145% when seed = 198.
The bootstrap 81's error rate is 13.043% when seed = 407.
The bootstrap 82's error rate is 10.145% when seed = 347.
The bootstrap 83's error rate is 13.043% when seed = 250.
The bootstrap 84's error rate is 9.420% when seed = 550.
The bootstrap 85's error rate is 9.420% when seed = 606.
The bootstrap 86's error rate is 9.420% when seed = 167.
The bootstrap 87's error rate is 10.145% when seed = 626.
The bootstrap 88's error rate is 12.319% when seed = 856.
The bootstrap 89's error rate is 11.594% when seed = 332.
The bootstrap 90's error rate is 10.870% when seed = 755.
The bootstrap 91's error rate is 8.696% when seed = 189.
The bootstrap 92's error rate is 7.971% when seed = 915.
The bootstrap 93's error rate is 13.043% when seed = 25.
The bootstrap 94's error rate is 10.870% when seed = 368.
The bootstrap 95's error rate is 13.043% when seed = 431.
The bootstrap 96's error rate is 10.870% when seed = 400.
The bootstrap 97's error rate is 10.870% when seed = 656.
The bootstrap 98's error rate is 9.420% when seed = 823.
The bootstrap 99's error rate is 6.522% when seed = 820.
The bootstrap 100's error rate is 7.246% when seed = 300.
Average Error Rate = 0.10028985507246375
The computation time is about 5.408815902000015 seconds.

In [18]:
#b
from dask import compute, delayed
import dask.multiprocessing
import multiprocessing

multiprocessing.cpu_count()

4

In [17]:
start_timeb = timeit.default_timer()
def error_rate(boot_num, seeds, X, y):
    X_train, X_test, y_train, y_test = train_test_split(X, y, train_size = 0.65, random_state = seeds[boot_num])
    logreg = LogisticRegression(solver="lbfgs", max_iter = 2000, n_jobs = None)
    results = logreg.fit(X_train, y_train)
    y_pred = results.predict(X_test)
    mse = ((y_test - y_pred) ** 2).mean()
    return mse

lazy_values = []
for i in range(100):
    lazy_values.append(delayed(error_rate)(i, seeds, X, y))
    
mse_list2 = compute(*lazy_values, scheduler = dask.multiprocessing.get, num_workers = 4)
end_timeb = timeit.default_timer()

for i in range(100):
    print("The bootstrap {}'s error rate is {:.3f}% when seed = {}.".format(i + 1, 100 * mse_list2[i], seeds[i]))

print("Average Error Rate =", np.array(mse_list2).mean())
print("The computation time is about {} seconds.".format(end_timeb - start_timeb))

The bootstrap 1's error rate is 7.246% when seed = 798.
The bootstrap 2's error rate is 10.870% when seed = 344.
The bootstrap 3's error rate is 9.420% when seed = 739.
The bootstrap 4's error rate is 8.696% when seed = 271.
The bootstrap 5's error rate is 11.594% when seed = 847.
The bootstrap 6's error rate is 7.971% when seed = 292.
The bootstrap 7's error rate is 8.696% when seed = 812.
The bootstrap 8's error rate is 7.246% when seed = 512.
The bootstrap 9's error rate is 9.420% when seed = 272.
The bootstrap 10's error rate is 5.797% when seed = 939.
The bootstrap 11's error rate is 8.696% when seed = 243.
The bootstrap 12's error rate is 10.145% when seed = 475.
The bootstrap 13's error rate is 9.420% when seed = 569.
The bootstrap 14's error rate is 13.768% when seed = 661.
The bootstrap 15's error rate is 10.870% when seed = 126.
The bootstrap 16's error rate is 7.246% when seed = 831.
The bootstrap 17's error rate is 12.319% when seed = 904.
The bootstrap 18's error rate is 10.145% when seed = 284.
The bootstrap 19's error rate is 12.319% when seed = 746.
The bootstrap 20's error rate is 10.870% when seed = 138.
The bootstrap 21's error rate is 8.696% when seed = 401.
The bootstrap 22's error rate is 7.246% when seed = 535.
The bootstrap 23's error rate is 10.870% when seed = 474.
The bootstrap 24's error rate is 10.145% when seed = 227.
The bootstrap 25's error rate is 10.145% when seed = 636.
The bootstrap 26's error rate is 7.246% when seed = 860.
The bootstrap 27's error rate is 10.870% when seed = 395.
The bootstrap 28's error rate is 10.870% when seed = 848.
The bootstrap 29's error rate is 9.420% when seed = 980.
The bootstrap 30's error rate is 11.594% when seed = 666.
The bootstrap 31's error rate is 5.797% when seed = 644.
The bootstrap 32's error rate is 6.522% when seed = 43.
The bootstrap 33's error rate is 12.319% when seed = 285.
The bootstrap 34's error rate is 11.594% when seed = 413.
The bootstrap 35's error rate is 9.420% when seed = 929.
The bootstrap 36's error rate is 9.420% when seed = 70.
The bootstrap 37's error rate is 10.145% when seed = 945.
The bootstrap 38's error rate is 9.420% when seed = 479.
The bootstrap 39's error rate is 8.696% when seed = 254.
The bootstrap 40's error rate is 10.870% when seed = 421.
The bootstrap 41's error rate is 10.145% when seed = 210.
The bootstrap 42's error rate is 9.420% when seed = 501.
The bootstrap 43's error rate is 3.623% when seed = 935.
The bootstrap 44's error rate is 13.043% when seed = 784.
The bootstrap 45's error rate is 9.420% when seed = 441.
The bootstrap 46's error rate is 12.319% when seed = 745.
The bootstrap 47's error rate is 7.971% when seed = 842.
The bootstrap 48's error rate is 10.870% when seed = 917.
The bootstrap 49's error rate is 10.145% when seed = 104.
The bootstrap 50's error rate is 10.870% when seed = 209.
The bootstrap 51's error rate is 10.145% when seed = 938.
The bootstrap 52's error rate is 6.522% when seed = 154.
The bootstrap 53's error rate is 12.319% when seed = 497.
The bootstrap 54's error rate is 10.145% when seed = 989.
The bootstrap 55's error rate is 12.319% when seed = 775.
The bootstrap 56's error rate is 10.870% when seed = 77.
The bootstrap 57's error rate is 10.870% when seed = 131.
The bootstrap 58's error rate is 10.145% when seed = 92.
The bootstrap 59's error rate is 8.696% when seed = 305.
The bootstrap 60's error rate is 10.145% when seed = 533.
The bootstrap 61's error rate is 9.420% when seed = 837.
The bootstrap 62's error rate is 10.870% when seed = 222.
The bootstrap 63's error rate is 13.043% when seed = 263.
The bootstrap 64's error rate is 12.319% when seed = 2.
The bootstrap 65's error rate is 12.319% when seed = 568.
The bootstrap 66's error rate is 11.594% when seed = 964.
The bootstrap 67's error rate is 8.696% when seed = 543.
The bootstrap 68's error rate is 13.043% when seed = 790.
The bootstrap 69's error rate is 12.319% when seed = 141.
The bootstrap 70's error rate is 8.696% when seed = 108.
The bootstrap 71's error rate is 12.319% when seed = 7.
The bootstrap 72's error rate is 8.696% when seed = 71.
The bootstrap 73's error rate is 10.145% when seed = 518.
The bootstrap 74's error rate is 7.971% when seed = 986.
The bootstrap 75's error rate is 11.594% when seed = 33.
The bootstrap 76's error rate is 9.420% when seed = 858.
The bootstrap 77's error rate is 10.870% when seed = 460.
The bootstrap 78's error rate is 9.420% when seed = 107.
The bootstrap 79's error rate is 7.971% when seed = 547.
The bootstrap 80's error rate is 10.145% when seed = 198.
The bootstrap 81's error rate is 13.043% when seed = 407.
The bootstrap 82's error rate is 10.145% when seed = 347.
The bootstrap 83's error rate is 13.043% when seed = 250.
The bootstrap 84's error rate is 9.420% when seed = 550.
The bootstrap 85's error rate is 9.420% when seed = 606.
The bootstrap 86's error rate is 9.420% when seed = 167.
The bootstrap 87's error rate is 10.145% when seed = 626.
The bootstrap 88's error rate is 12.319% when seed = 856.
The bootstrap 89's error rate is 11.594% when seed = 332.
The bootstrap 90's error rate is 10.870% when seed = 755.
The bootstrap 91's error rate is 8.696% when seed = 189.
The bootstrap 92's error rate is 7.971% when seed = 915.
The bootstrap 93's error rate is 13.043% when seed = 25.
The bootstrap 94's error rate is 10.870% when seed = 368.
The bootstrap 95's error rate is 13.043% when seed = 431.
The bootstrap 96's error rate is 10.870% when seed = 400.
The bootstrap 97's error rate is 10.870% when seed = 656.
The bootstrap 98's error rate is 9.420% when seed = 823.
The bootstrap 99's error rate is 6.522% when seed = 820.
The bootstrap 100's error rate is 7.246% when seed = 300.
Average Error Rate = 0.10028985507246375
The computation time is about 3.7531684729997323 seconds.

As we can see from the results, the output is same as (b), but the computation time becomes much shorter.